body {
	text-align: center;
	background-image: url(shubham1.jpg);
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.6;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100vh;
}

.shubham {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	width: 80%;
	max-width: 500px;
	background: #e6e6e6c2;
	border-radius: 5px;
	backdrop-filter: blur(100%);
	padding: 1.5rem;
}
.my-page {
	font-size: 25px;
}
.main {
	margin: 20px;
	color: white;
	background-color: #fc4503;
}
p {
	font-size: 20px;
}
.link > a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: #f00;
	padding: 10px 25px;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 900;
}
.link a:hover {
	background-color: #9e320b;
	transform: translateY(-2px);
}
