body {
	text-align: center;
	background-image: url(shubham1.jpg);
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.7;
}
.shubham {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	width: 600px;
	background: #e6e6e6;
	border-radius: 5px;
	position: relative;
	margin: 0%;
	margin-left: 30%;
	margin-top: 15%;
	padding-top: 10px;
	padding-bottom: 30px;
	opacity: 80%;
}
.my-page {
	font-size: 25px;
}
.main {
	margin: 20px;
	color: white;
	background-color: #fc4503;
}
p {
	font-size: 15px;
}

.link > a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: #f00;
	padding: 10px 25px;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 900;
}

.link a:hover {
	background-color: #9e320b;
	transform: translateY(-2px);
}
